@font-face {
    font-family: "Gued";
    src: url("/fonts/gued.regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65.5rem;
    height: 46.75rem;
    min-height: 46.75rem;
    flex-shrink: 0;
    border-radius: 0.92675rem;
    opacity: 0.54;
    background: #fff;
    backdrop-filter: blur(11.949999809265137px);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%233c56b1' stroke-width='3' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    transition:
        background 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        background-image 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        backdrop-filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.temp .first {
    color: #7b7c86;
    text-align: center;
    font-family: "Gued", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.temp .second {
    color: #7b7c86;
    text-align: center;
    font-family: "Gued", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.temp a {
    text-decoration: none;
    color: #3c56b1;
    font-family: "Gued", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

:global(.dark-theme) .temp {
    border-radius: 0.92675rem;
    opacity: 0.54;
    background: rgba(39, 39, 39, 0.44);
    backdrop-filter: blur(11.949999809265137px);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23a5b9ff' stroke-width='3' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

:global(.dark-theme) .temp .first {
    color: #7b7c86;
}

:global(.dark-theme) .temp .second {
    color: #7b7c86;
}

:global(.dark-theme) .temp a {
    color: #3c56b1;
}
